html {
  background: darkseagreen;
}

.personal-photo {
  float:left;
  padding-right: 25px;
  width: 125px;
  height: 125px;
}

header > p {
  font-style: italic;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
  color: #191970;
}

#work-experience li em {
  font-style: normal;
  font-weight: bold;
}

#work-experience li p {
  margin-top: 0px;
}
